body{
	background-color: rgba(26, 91, 53, 1);
	max-width: 1440px;
    overflow: hidden;
}

.congratulation{
	color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    position: relative;
    left: 48px;
    bottom: 67px;

}

.title{
	color: rgba(206, 176, 118, 1);
    position: relative;
    bottom: 53px;
    font-family: Bad Script;
    font-size: 54px;
    left: 590px;

}
.title2{
    color: rgba(206, 176, 118, 1);

    position: relative;
    bottom: 53px;
    font-family: Bad Script;
    font-size: 54px;
    right: 600px;


}

.text{
	color: white;
	text-align: center;
	font-family: Open Sans;
    position: relative;
    left: 50px;
    bottom: 60px;
}

.MegaCom{
	font-family: Open Sans;

}
.img1{
	position: relative;
    left: 1441px;
    bottom: 56px;


}

.img2{
	position: relative;
    top: 12px;
    right: 163px;

}

.img3{
	position: relative;
    top: 625px;
    right: 311px;

}

.img4{
	position: relative;
    top: 393px;
    left: 337px;
}

.img5{
	position: relative;
    top: 567px;
    left: 73px;
}

.img6{
	position: relative;
    top: 561px;
    right: 435px;

}

@media screen and (max-width: 576px){
    body{
        overflow: hidden;
        height: auto;

    }

    .congratulation{
        bottom: 218px;
        position: relative;
        font-size: 16px;
        padding: 10px 10px 10px 10px;
        left: 22px;
    }

    .title{
        position: relative;
        left: 56px;
        bottom: 201px;
    }

    .title2{
        position: relative;
        right: 411px;
        bottom: 410px
    }

    .text{
        position: relative;
        bottom: 214px;
        left: 20px;
    }


    .img1{
        left: 113%;
        display: none;
    }


    .img2{
        width: 98px;
        left: -9px;
}

.img3{

}

.img4{
    position: relative;
    left: 271px;
    top: 484px;
}

.img5{
    position: relative;
    top: 581px;
    left: 19px;
}

.img6{
    position: relative;
    left: 146px;
    top: -267px;
}
}











